[project]
	description = \"integration/terraform\" - READ ONLY. Repo Archived.
	state = read only
[access]
	inheritFrom = All-Projects
[submit]
	action = inherit
[access "refs/*"]
	owner = group saml/onap-gerrit-integration-terraform-committers
	read = group GitHub Replication
[plugin "its-jira"]
	enabled = true
